 
 body{
  background:url('https://www.memonotepad.com/img/wood.png');
}
 .bod{
  background:src("media/wood.png");
}
.bodylayout{
  background:src("media/wood.png");
}

.boxx{
  /* background: src("media/wood.png"); */
  border: solid 1px slategray;
  
  
}

/* Editor ekrani bunun icinde */


/*Sticky Test*/
.note {  
  float: left;
  grid-row: 2;
  grid-column: 2;
  color: rgba(#000,.8);
  /* background-color: rgb(255,222,30);
  background-image: linear-gradient(
    160deg,
    rgb(255,222,30) 50%,
    rgb(255,250,80)
  ); */
  width: 29%;
  min-height: 240px;
  margin:20px;
  padding-top: 60px;
  /* box-shadow:
    0 0px 0 rgb(255,222,30),
    0px 6px 6px rgba(0,0,0,.4)
  ; */
  text-align: center;
  /* font-family: 'marker felt', 'comic sans ms', sans-serif; */
  font-family: 'Indie Flower', cursive;
  font-size: 26px;
  line-height: 1.3;
  padding: 1em;
  box-sizing: border-box;
  transform: rotate(-1deg);
  transition: all .3s ease;
 
}
.note h1{
  font-weight: bold;
}
h3{
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}

.note a:hover,.note a:focus{
  /* -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7); */
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}

.note a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:12em;
  width:12em;
  padding:1em;
  -moz-box-shadow:0px 0px 1px rgba(33,33,33,1);
  -webkit-box-shadow: 0px 0px 1px rgba(33,33,33,.7);
  box-shadow: 0px 0px 1px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}


.note:nth-child(even) a{
  /* -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg); */
  position:relative;
  top:5px;
  background:#cfc;
}



.note:nth-child(3n) a{
  /* -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg); */
  position:relative;
  top:-5px;
  background:#ccf;
}



.clear{
  clear: both;
}
