{% extends "layout.html" %}

{% block body %}
{% load social_share %}

<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h3 class="mt-4">{{article.title}}</h3>

      <!-- Author -->
      <p class="lead">
        by
        {{article.author.username}}
      </p>

      <hr>

      <!-- Date/Time -->
      <p>{{article.created_date}}</p>

      <hr>

      <!-- Preview Image -->
      {% if article.article_image %}
          <img class="img-fluid rounded" src="{{article.article_image.url}}" alt=""/>
      {% endif %}
      <hr>

      <!-- Post Content -->
      <p class="lead">
          {{article.content|safe}}
      </p>
        
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank"rel="shared-popover" data-popover-content="#shared-btn-Popover" title="Share in Facebook" data-placement="bottom" style="color:#3b5998"class="mtr-btn button-circle button-fab ripple"><i class="fa fa-facebook-square fa-3x"></i></a>
        <a href="https://twitter.com/compose/tweet/?text={{ article.content|truncatewords:500 }}%20url={{ request.build_absolute_uri }}&hashtags=MyNote,NoteApp" target="_blank"rel="shared-popover" data-popover-content="#shared-btn-Popover" title="Share in Twitter" data-placement="bottom" style="color:#4099FF"class="mtr-btn button-circle button-fab ripple"><i class="fa fa-twitter-square fa-3x"></i></a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ article.title }}source={{ request.build_absolute_uri }}" target="_blank"rel="shared-popover"data-popover-content="#shared-btn-Popover" title="Share in LinkedIn" data-placement="bottom" style="color:#007bb6"class="mtr-btn button-circle button-fab ripple"><i class="fa fa-linkedin-square fa-3x"></i></a>
        <a href="mailto:?subject=Note-{{article.title}}&body={{article.content}}-Click the link for see all notes:{{request.build_absolute_uri}}" target="_blank"rel="shared-popover" data-popover-content="#shared-btn-Popover" title="Share via email" data-placement="bottom" style="color:#D34836"class="mtr-btn button-circle button-fab ripple"><i class="fa fa-envelope-square fa-3x"></i></a>    
      
      <hr>
      <h4>Comments</h4>
      <hr>
      <!-- Comments Form -->
      {% if comments %}
      <!-- Single Comment -->
      {% for comment in comments %}
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">{{comment.comment_author}}</h5>
            {{comment.comment_date}}<br>
            {{comment.comment_content}}
          </div>
        </div>
      {% endfor %}
      {% else %}
      <div class="alert alert-danger">
        There is not any comment! Be the first to comment.
      </div>
      {% endif %}



      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form method="post" action="{% url 'article:comment' article.id %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="formGroupExampleInput">Name</label>
                <input name="comment_author" type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
              </div>
              <label for="formGroupExampleInput">Comment</label>
              <textarea name="comment_content" class="form-control" rows="3" placeholder="Comment"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
      </div>
    </div>
</div>

{% endblock body %}


