{% extends "layout.html" %}


{% block body %}

{% load crispy_forms_tags %}

<p>
    {% if request.user.is_authenticated %}
            <div class="row">
                <div class="col-md-6 offset-md-4">
                    <h3>Create Article</h3>
                    <hr>
                    <form action="{% url 'article:addarticle' %}" method = "post">
                        {% csrf_token %}
                        {{form.media}}
                        {{form|crispy}}
                        <br>
                        <button type="submit" class="btn btn-danger">Add Article</button>  
                    </form>
                </div>
            </div>
            Logged in by {{request.user.username}}
    {% else %}
            Not Logged
            <div class="row">
                <div class="col-md-6 offset-md-4">
                    <h3>Create Article</h3>
                    <hr>
                    <form action="{% url 'nologin' %}" method = "post">
                        {% csrf_token %}
                        {{form.media}}
                        {{form|crispy}}
                        <br>
                        <button type="submit" class="btn btn-danger">Add Article</button>  
                    </form>
                </div>
            </div>
    {% endif %}

</p>

<p>
    <strong>Total users registered: </strong> {{count}}
</p>
{% endblock body %}



