{% extends "layout.html" %}


{% block body %}

{% load crispy_forms_tags %}
<div class="bod">
    <div class="boxx">
        <div class="col-md-10 offset-md-1"><br><br>
            <h3>Create Note</h3>
            <hr>
            {% if request.user.is_authenticated %}
            <form action="{% url 'article:addarticle' %}" method = "post">
            {% else %}
            <form action="{% url 'nologin' %}" method = "post">
            {% endif %}
                {% csrf_token %}
                {{form.media}}
                {{form|crispy}}
                <br>
                <button type="submit" class="btn btn-primary">&emsp;Add New Note &emsp;  </button>  
            </form><br><br><br><br>
        </div> 
            <!-- Sticky Test -->
            <div class="container1">                
                {% if request.user.is_authenticated %}
                    {% for note in notes %}                        
                        <div class="note">                                                  
                            <h2>{{ note.title }}</h2>
                            <p>{{ note.content }}</p>                                    
                        </div>                                               
                    {% endfor %}
                {% endif %}                    
            </div> 
                     
    </div>
    <div class="clear"></div>  
</div>
{% endblock body %}



