{% extends "layout.html" %}

{% block body %}
{% load socialaccount %}
{% load crispy_forms_tags %}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Sign in</h3>
        <hr>
        <form method = "post">
                {% csrf_token %}
                {{form|crispy}}
                <br>
                <button type="submit" class="btn btn-danger">Enter</button>  
                <a class="nav-brand" href="{% url 'password_reset' %}">&nbsp;&nbsp;&nbsp;&nbsp;Forget your Password?</a><br><br>
                <p><strong>OR Sign In With</strong></p>
                <div class="wrapper">
                        <a target="_blank" href="{% url 'social:begin' 'github' %}"rel="shared-popover" data-popover-content="#shared-btn-Popover" title="Login with GitHub" data-placement="bottom" style="color:#24292e"class="mtr-btn button-circle button-fab ripple"><i class="fa  fa-3x fa-github"></i></a>
                        <!-- <a target="_blank" href="{% provider_login_url 'google' %}"><i class="fa fa-3x fa-google"style="color:#D34836"></i></a> -->
                        <a target="_blank" href="{% url 'social:begin' 'facebook' %}"rel="shared-popover" data-popover-content="#shared-btn-Popover" title="Login with Facebook" data-placement="bottom" style="color:#3b5998"class="mtr-btn button-circle button-fab ripple"><i class="fa fa-facebook-square fa-3x"></i></a>
                        <a target="_blank" href="{% url 'social:begin' 'twitter' %}"rel="shared-popover" data-popover-content="#shared-btn-Popover" title="Login with Twitter" data-placement="bottom" style="color:#4099FF"class="mtr-btn button-circle button-fab ripple"><i class="fa fa-twitter-square fa-3x"></i></a>
                </div></a>
            </form>
        </div>
    </div>

{% endblock body %}

