{% extends "layout.html" %}

{% block body %}
{% load socialaccount %}
{% load crispy_forms_tags %}

{% load crispy_forms_tags %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Sign in</h3>
        <hr>
        <form method = "post">
                {% csrf_token %}
                {{form|crispy}}
                <br>
                <button type="submit" class="btn btn-danger">Enter</button>  

                <small class='text-muted ml-2'>
                    <a href="{% url 'password_reset' %}" class="card-link">Forget Password</a>
                </small>

                <a class="nav-brand" href="{% url 'password_reset' %}">&nbsp;&nbsp;&nbsp;&nbsp;Forget your Password?</a><br><br>
                <p><strong>OR Sign In With</strong></p><br>
                <div class="wrapper">
                        <a target="_blank" href="{% url 'social:begin' 'github' %}"><i class="fa  fa-3x fa-github"style="color:#24292e"></i></a>
                        <!-- <a target="_blank" href="{% provider_login_url 'google' %}"><i class="fa fa-3x fa-google"style="color:#D34836"></i></a> -->
                        <a target="_blank" href="{% url 'social:begin' 'facebook' %}"><i class="fa fa-3x fa-facebook-square"style="color:#3b5998"></i></a>
                        <a target="_blank" href="{% url 'social:begin' 'twitter' %}"><i class="fa fa-3x fa-twitter-square"style="color:#4099FF"></i>
                </div></a>

            </form>
        </div>
    </div>

{% endblock body %}

