<!-- {% extends 'layout.html' %}

{% block body %}
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock body %}
 -->

{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="row">
    <div class="col-md-6 offset-md-3"><h3>Reset Password</h3>
        <hr>
        <form method = 'post'>
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <button type='submit' class='btn btn-outline-info'>Reset Password</button>
        </form>
    </div>
  </div>
    
{% endblock body %}

